
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* make the customizations */
$theme-colors: (
  "primary": #85040E,
  "secondary": #66090D,
  "info": #C51A2D,
  "light": #F6CFB2,
  "dark": #440204,
);

$font-family-base: Raleway;

$headings-font-family: Raleway;

h1 {
  font-size: 500px
}

textarea{
  width:50%;
  margin:auto;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";